body{
    background: white;
    color: purple;
    text-align: center;
    font-family: courier;
    font-size:  16px;
    margin: 0;
    padding: 0;
}
#post{
    background: white;
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}
#container h1{
    font-size: 20px;
}
#cabecera #tagline{

    font-size: 0.8em;
    padding: 0 0 0 1em;
    font-weight: 400;
}
#cabecera #logo{
    width: 20px;
    vertical-align: middle;
}
#cabecera{
    box-shadow:  0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    color: white;
    background: #37488b;
    font-weight: 700;
    margin: 0;
    padding: 0.5em; 
}

#container{
    width:70%;
    padding:0;
    text-align:left;
    border:1px solid #ddd;
    margin:0 auto;
}
#footer{
background: #777;
color: white;
text-align: center;
width:  70%;
padding: 1em;
margin: 0 auto;
}