body{
    color: purple;
    text-align: center;
    font-family: courier;
    font-size:  16px;
    margin: 0;
    padding: 0;
}
#post{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}
#container h1{

    font-size: 20px;
}
#cabecera{
    background-color: blue;
    color: white;
    width:  70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
    -webkit-box-shadow: 10px 13px 53px 14px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 13px 53px 14px rgba(0,0,0,0.75);
box-shadow: 10px 13px 53px 14px rgba(0,0,0,0.75);
}
#footer{
background: #777;
color: white;
text-align: center;
width:  70%;
padding: 1em;
margin: 0 auto;
}